.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
  background-color: #000;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo Thambi', cursive;
  font-size: 2rem;
  height: 100vh;
}

.text-container > span {
  text-transform: uppercase;
  animation: glow 4s ease-in-out infinite; /* Süreyi 4 saniyeye çıkardım */
}

@keyframes glow {
  0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
  }

  10%, 90% {
    color: #111;
    text-shadow: none;
  }
}

/* Animasyon gecikmelerini de yavaşlamaya uyumlu hale getirdim */
.text-container > span:nth-child(2) {
  animation-delay: 0.5s;
}

.text-container > span:nth-child(3) {
  animation-delay: 1s;
}

.text-container > span:nth-child(4) {
  animation-delay: 1.5s;
}

.text-container > span:nth-child(5) {
  animation-delay: 2s;
}

.text-container > span:nth-child(6) {
  animation-delay: 2.5s;
}

.text-container > span:nth-child(7) {
  animation-delay: 3s;
}

.text-container > span:nth-child(8) {
  animation-delay: 3.5s;
}

.confetti{
  height: 100vh;
  width: 100vw;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

.typewiretter {
  border-right: solid 3px rgba(216, 48, 104, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 14px;
  font-weight: 800;
  color: rgba(255,255,255,.70);
}

/* Animation */
.typewiretter {
  animation: animated-text 4s steps(20,end) 2s 1 normal both,
             animated-cursor 600ms steps(20,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 270px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255, 0, 170, 0.75);}
  to{border-right-color: transparent;}
}